.wrapper {
  background-color: #fff;
  width: 100%;
  box-shadow: 0 0 10px -2px silver;
  position: relative;
}

.container {
  display: flex;
  align-items: center;
  padding: 0.3em 2em;
}

.brandLogo {
  height: 36px;
}

.menu {
  display: flex;
  justify-self: flex-end;
  justify-content: flex-end;
  align-content: center;
  gap: 0.2em;
  // added margin-left: auto, because justify-self doesnt work for soem reason, weird
  margin-left: auto;
}

.menuItem {
  background-color: #e8e8e8;
  min-width: 26px;
  min-height: 26px;
  padding: 0.6em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;

  &:first-child {
    background: white;
  }
}

.badge {
  background-color: #0381be;
  color: white;
  text-align: center;
  font-size: 10px;
  border-radius: 12px;
  padding: 3px 8px;
  position: absolute;
  top: 0;
  right: -6px;
}
